
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/footable/css/footable.core";

#main {
    padding: 0px 20px 20px 20px;
}

.text-underline {
    text-decoration: underline;
}

.modal-hr {
    margin-top: 0px;
}

div.imagetiles {
    max-width: 1200px;
    margin: 0 auto;
}
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding: 0px;
}

div.popular-banner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
